{% load static %}
<header>
	<div class="navbar">
		<div class="brand">
			<a href="/home">
				<img
					src="../../static/assets/images/code-blue.svg"
					alt="Brand Icon"
					class="brand-icon"
				/>
				<h1 class="brand-title">Dorjiam Studios</h1>
			</a>
		</div>
		<ul class="links">
			<li class="link"><a href="/home">Home</a></li>
			<li class="link"><a href="/about">About</a></li>
			<li class="link"><a href="/skills">Skills</a></li>
			<li class="link"><a href="/services">Services</a></li>
			<li class="link"><a href="/projects">Projects</a></li>
			<li class="link"><a href="/contact">Contact</a></li>
		</ul>
		<div class="toggle-button">
			<i class="fa-solid fa-bars"></i>
		</div>
		<div class="dropdown-menu">
			<ul>
				<li class="link"><a href="/home">Home</a></li>
				<li class="link"><a href="/about">About</a></li>
				<li class="link"><a href="/skills">Skills</a></li>
				<li class="link"><a href="/services">Services</a></li>
				<li class="link"><a href="/projects">Projects</a></li>
				<li class="link"><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</header>
